/*div
div{
    background-color: lightblue;
    padding: 10px;
}
div>div{
    background-color: lightcoral;
    border: 1px solid black;
    
    
}

div>div>div{
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}

div>div>div>div{
    background-color: lightseagreen;
    border: 1px solid black;
}
div>div>div>div>div{
    background-color: lightslategrey;
}

div>div>div>div>div>div{
    background-color: lightslategrey;
}

div>div>div>div>div>div>div{
    background-color: lightyellow;
}
*/

*{
    padding: 0;
    margin: 0;
}

#schnellzugriff{
    display: none;
}

/*Pfeil*/
#pfeildiv{
    background-color: red;
    width: 0.5em;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    padding: none;
}

i {
    border: solid rgb(255,255,255);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
 }

#pfeilbut{
    padding: none;
    margin-top: 0;
    width: 3em;
    height: 3em;
    border-radius: 60%;
    position: absolute;
    margin-top: 0.2em;
    background-color: #193058;
    border: none;
} 

 .downArrow {
    transform: rotate(45deg);
 }

#pfeilbut:hover{
    background-color: #033b63;
} 

/*Erster blauer div*/
#nav1{
    margin-right: 16%;
    margin-top: 0;
    padding: none;
    text-decoration: none;
    background-color: 	#193058;
}

.navtext{
    text-decoration: none;
    font-family: Arial;
    font-size: 1em;
    color: 	#c0c1c2;
    margin: 0.8em;
}

.navtext:hover{
    color: white;
}

/*Buttons*/
.fa-facebook {
   background-color: blue;
   width: 1em;
   height: 1em;
   color: white;
   margin: auto;
   text-align: center;
   padding: 0.5em;
}

.fa-instagram{
    background-color:#f00777;
    width: 1em;
    height: 1em;
    text-align: center;
    color: white;
    margin-left: 0.5em;
    padding: 0.5em;
}

.fa-youtube{
    background-color:#ff1212;
    color: white;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-left: 0.5em;
    padding: 0.5em;
}

.fa-linkedin{
    background-color:#0a66c2;
    color: white;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-left: 0.5em;
    padding: 0.5em;
}

#containerh{
    display: flex;
    justify-content: space-between;
    height: 2em;
    background-color: 	#193058;
}

.buttons{
    background-color:	#193058;
    color: #c0c1c2;
    border: none;
}

#budiv{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 0;
    background-color:	#193058;
    margin-left: 16%;
    padding:0.5em;
    width: 7em;
}

.buttons:hover{
    color: white;
}

/*logo*/
#containerhh{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 8px 6px -6px grey;
    height: 8em;
}

#divlogo{
    margin-top: 0.5em;
    background-color: white;
    margin-left: 10.3%;
}

/*Profilbild*/
#enes{
    border-radius: 50%;
    margin-top: 5em;
    width: 300px; 
    height: 300px;
}

#profil{
    display: flex;
    background-color: white;
    margin-top: 0.5em;
}

#profildiv{
    margin-left: 16%;
    background-color: white;
}

.profiltext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
}

/*Fragezeichen*/
#fragezeichen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50em;
}

#Spiel{
    background-color: white;
}

/*Standorte*/
.text{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.ht{
    background-color: white;
    margin-top: 3em;
    margin-left: 1em;
}

#standortcontainer{
    display: flex;
    margin-left: 16%;
    margin-right: 16%;
    justify-content: space-between;
    background-color: #B4D3ED;
}

#standort{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Ortbilder{
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.htbilder{
    background-color: #B4D3ED;
}

#footer{    
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    position: relative;
    background-color: #333333;
    height: 0.7em;
    padding: 2em;
    margin-left: 16%;
    margin-right: 16%;
}


#fbackground{
    background-color: #333333;
}

/*Navigation*/
#navdiv{
    display: table;
    height: 2em;
    margin-top: 3em;
    margin-right: 16%;
    width: 100%;
}

/*Navbar*/
nav>ul>li{
    list-style: none;
    padding: 0.5em;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    border: 0.9em solid white;
    align-items: stretch;
    align-content: stretch;

}

/*Navbar*/
nav>ul>li:hover>ul{
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

nav>ul>li:hover{
    background-color: 	#f7f7f7 ;
    color: #c54c69;
 
}

/*2 Überschrift/Zeilen ul*/
nav>ul>li>ul{  
    width: auto; 
    margin-top: 1.4em;
    list-style: none;
    position: absolute;
    background-color: #f7f7f7;
    left: 16%;
    right: 16%;
    display: none;
    padding: 1px;
}

.nav2{
    justify-content: space-evenly;
    flex: auto;
}


/*Überschrift*/
nav>ul>li>ul>li{
    max-width: auto;
    color: blACK;
    float: left;
    padding: 1em;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    border-collapse: collapse;
    border-right: 1px solid #e9e9e9;
}

/*unterüberschrift*/
nav>ul>li>ul>li>ul>li{
    word-break: break-all;
    display: block;
    margin-top: 1em;
    text-align: left;
    font-size: 0.7em;
    font-weight: normal;
    padding: 0.5em;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

nav>ul>li>ul>li>ul>li{
    list-style-type: none;
}

nav>ul>li>ul>li>ul>li:hover{
    color: #c54c69;
    background-color: white;
}

nav>ul>li>ul>li>ul{
    display: block;
    margin-top: 1em;
    text-align: center;
}

.lastborder{
    border: none;
}

/* Spiel */
#Spiel{
    width: 0;
    height: 0;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.felder{
    float: left;
    box-sizing: border-box;
    border: solid 1px black;
    background-image: url('images/symbols.svg');
    background-size: 1800%;
}

.test{
    background-color: green;
}

.pfeiloben{

    background-position: -300%;

}

.pfeillinks{
    background-position: -400%;
    
}

.pfeilrechts{
   
    background-position: -200%;
}

.pfeilunten{
    background-position: -500%;
}

.atome{
    background-position: -100%;
    
}

.path{
    background-color: red;
}
.zurueck{
    background-color: yellow;;
}

.rechts{
    background-color: black;
}

.unten{
    background-color: blue;;
}

.oben{
    background-color: palegreen;
}

.rechts{
    background-color: palevioletred;
}

.links{
    background-color: peru;
}

.doppeloben{
    background-position: -700%;
}

.doppelrechts{
    background-position: -600%;
}

#play{
    margin-bottom: 2em;
    margin-left: 60%;
    padding: 1em;
}

#solve{
    position: absolute;
    margin-left: 40%;
    padding: 1em;
}

#ergebnis{
    background-color: white;
    height: 10em;
}

.win{
    background-color: green;
    height: 10em;
}

.atomeunsichtbar{
    background-position: 0%;
}

.test2{
    background-color: orange;
}

